<div class="headerafterlogin">
  <nav class="navbar navbar-inverse header" *ngIf="!nav.visible">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand title" href="#">KCOIN</a>
      </div>
      <div class="collapse navbar-collapse content" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#">WALLET</a></li>
          <li><a href="#">DATA</a></li>
          <li><a href="#">API</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a [routerLink]="['/signin']"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
