<div class="page-header">Specs</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

	<div class="panel panel-default">

		<div class="panel-heading" role="tab" id="heading0">
			<h4 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
					1. Transaction #1 (1/1/2018 8:20:04 PM - Waiting)
				</a>

				<span class="col-md-3 pull-right">Total Cost: $111.98</span>
			</h4>
		</div>
		
		<div id="collapse0" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body">
				<input type="hidden" name="ctl00$ctl00$MainContent$MemberContent$MemberOrders$RepeaterOrders$ctl00$HiddenFieldOrderId" id="MainContent_MemberContent_MemberOrders_RepeaterOrders_HiddenFieldOrderId_0" value="1" />

				<div class="items">
					<div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>No.</th>
									<th>Product</th>
									<th>Unit Price</th>
									<th>Quantity</th>
									<th>Total Price</th>
								</tr>
							</thead>
							<tbody>


								<tr>
									<td class="text-center">1</td>
									<td>
										<a id="MainContent_MemberContent_MemberOrders_RepeaterOrders_RepeaterOrderDetail_0_HyperLink1_0" href="../Single.aspx?Id=2">Moong Dal</a>
									</td>
									<td class="text-right">$30.99</td>
									<td class="text-center">1</td>
									<td class="text-right">$30.99</td>
								</tr>

								<tr>
									<td class="text-center">2</td>
									<td>
										<a id="MainContent_MemberContent_MemberOrders_RepeaterOrders_RepeaterOrderDetail_0_HyperLink1_1" href="../Single.aspx?Id=3">Channa</a>
									</td>
									<td class="text-right">$80.99</td>
									<td class="text-center">1</td>
									<td class="text-right">$80.99</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


